.contact-section{
    min-height: 80vh;
    display: flex;
    justify-content: space-evenly;
}

form{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

legend{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}


#boton:hover{
    cursor: pointer;
}



main{
    background: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;

}

.redes img{
    width: 80px;
    padding: 1rem;
    filter: grayscale(100%);
    transition: filter 1.2s;
}

main legend{
    margin-bottom: 5rem;
}

.redes img:hover{
    filter: grayscale(0%);
}

.redes{
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(2,1fr);
}

@media (max-width:480px){
    .contact-section{
        display: flex;
        flex-direction: column;
    }
    form{
        width: 100%;
    }
    main legend{
        margin-bottom: 20px;
    }
    .redes{
        gap: 20px;
    }
    .redes img{
        width: 25px;
    }
}